@keyframes show {
    0% {
        width: 0;
        height: 0;
        outline: 8px solid #ffd700;
    }

    100% {
        width: 100%;
        height: 100%;
        outline: 4px solid #ffd700;
    }
}

@keyframes show-title {
    0% {
        font-size: 0;
        opacity: 1;
    }
    90% {
        opacity: 0.5;
    }

    100% {
        font-size: 8vw;
    }
}

.game-room {
    display: flex;
    width: 100vw;
    height: 100vh;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .do-i-knou-you {
            animation-name: show;
            animation-duration: 3s;
            animation-timing-function: cubic-bezier(0.28, 0.68, 0.83, 0);
            position: relative;

            h1 {
                animation-name: show-title;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.28, 0.68, 0.83, 0);
                opacity: 0;
                position: absolute;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;

            }
        }
    }

    aside {
        min-width: 14%;
        //border: 3px solid #ffd700;
        position: relative;
        left: 0;
        background-color: $secondary-dark-color;

        .inicio-link {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #505050;
        }

        .players {
            //outline: 3px solid #ffd700;
            padding: 20px 0;

            ol {
                padding: 0 20px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;

                    p {
                        margin-left: 10px;
                    }
                }
            }
        }

        .cronometer {
            background-color: $secondary-dark-color;
            margin-top: 40px;
            padding: 20px;
            font-size: 28px;
        }

        .code {
            //outline: 3px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            button {
                margin: 10px 0;
                width: 70%;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .game-room {

        aside {
            display: none;
        }
    }
}
