.game-room {
    display: flex;
    width: 100vw;
    height: 100vh;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        min-width: 14%;
        border: 2px solid yellow;
        position: relative;


        .inicio-link {
            padding: 20px 0;
        }

        .players {
            outline: 2px solid yellow;
            padding: 20px 0;

            ol {
                padding-left: 20px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                }
            }
        }

        .code {
            outline: 2px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            button {
                margin: 10px 0;
                width: 60%;
                display: flex;
                align-items: center;
            }
        }
    }
}