@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    text-align: center;
    background-color: $main-dark-color;
    color: $main-text-color;
}

button {
    border: none;
    border-radius: $border-radius;
    padding: 8px;
    transition-duration: 0.2s;
    background-color: #90ee90;

    &:hover {
        cursor: pointer;
        background-color: #ffd700;
        //color: $main-text-color;
    }
}

input {
    border: none;
    padding: 6px;
    text-indent: 6px;
    border-radius: $border-radius;
    text-align: center;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $main-text-color;
    transition-duration: 0.2s;

    &:hover {
        color: lightgreen;
    }
}

.inicio-link {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #505050;
}

.information {

    h1 {
        margin-top: 40px;
    }

    p {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {

    body {
        margin-top: 6dvh;
    }

    .information {
    
        p {
            padding: 10px;
        }
    }
}

.insert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-insert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;

        label {
            margin-top: 20px;
        }

        input {
            width: 97%;
            font-size: 20px;
        }

        button {
            margin-top: 50px;
            width: 100%;
            font-size: 30px;

            &:active {
                transform: scale(.9);
            }
        }
    }
}