@import './variables.scss';

* {
    margin: 0;
    padding: 0;
}

html,body {
    text-align: center;
    background-color: $main-dark-color;
    color: $main-text-color;
}

button {
    border: none;
    border-radius: $border-radius;
    padding: 8px;
    transition-duration: .2s;

    &:hover {
        cursor: pointer;
        background-color: $secondary-dark-color;
        color: $main-text-color;
    }
}

input {
    border: none;
    padding: 6px;
    text-indent: 6px;
    border-radius: $border-radius;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $main-text-color;
    transition-duration: .2s;

    &:hover {
        color: lightgreen;
    }
}