* {
  margin: 0;
  padding: 0;
}

html,
body {
  text-align: center;
  background-color: #222;
  color: #FFF;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  transition-duration: 0.2s;
  background-color: #90ee90;
}
button:hover {
  cursor: pointer;
  background-color: #666;
  color: #FFF;
}

input {
  border: none;
  padding: 6px;
  text-indent: 6px;
  border-radius: 5px;
  text-align: center;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #FFF;
  transition-duration: 0.2s;
}
a:hover {
  color: lightgreen;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-box {
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

button.popup-close {
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

button.popup-close:hover {
  background-color: #999;
  color: white;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.loader-container.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.3s linear;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 998;
}

.loader {
  z-index: 999;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.spinner {
  position: absolute;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game header {
  width: 100%;
  background-color: #666;
  padding: 20px 0;
}
.game .new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
}
.game .new-game input {
  margin: 10px 0;
  margin-bottom: 30px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.root header {
  background-color: #666;
  width: 100%;
}
.root header h1 {
  padding: 20px;
}
.root .option {
  background-color: #444;
  margin: 30px 0;
  padding: 30px;
  border-radius: 5px;
  transition-duration: 0.2s;
  width: 260px;
}
.root .option input {
  margin-top: 30px;
}
.root .option h2 {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.root .option h2:hover {
  color: #90ee90;
}
.root .option .new-game {
  display: flex;
  flex-direction: column;
  transition-duration: 1s;
}
.root .option .new-game .new-game-input-container {
  display: flex;
  flex-direction: column;
}
.root .option .new-game .new-game-input-container input {
  margin-bottom: 10px;
}
.root .option .new-game .animation-enter {
  background-color: red;
}
.root .option .new-game .animation-exit {
  background-color: blue;
}
.root .option .join-game {
  display: flex;
  flex-direction: column;
}
.root .option .join-game .code-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.root .option .join-game .code-input-container .code-input {
  font-size: 24px;
  width: 130px;
  text-align: center;
  margin-top: 0;
}

@keyframes show {
  0% {
    width: 0;
    height: 0;
    outline: 8px solid #ffd700;
  }
  100% {
    width: 100%;
    height: 100%;
    outline: 4px solid #ffd700;
  }
}
@keyframes show-title {
  0% {
    font-size: 0;
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    font-size: 8vw;
  }
}
.game-room {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.game-room main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-room main .do-i-knou-you {
  animation-name: show;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.28, 0.68, 0.83, 0);
}
.game-room main .do-i-knou-you h1 {
  animation-name: show-title;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.28, 0.68, 0.83, 0);
  opacity: 0;
}
.game-room aside {
  min-width: 14%;
  border: 3px solid #ffd700;
  position: relative;
  left: 0;
}
.game-room aside .inicio-link {
  padding: 20px 0;
}
.game-room aside .players {
  outline: 3px solid #ffd700;
  padding: 20px 0;
}
.game-room aside .players ol {
  padding: 0 20px;
}
.game-room aside .players ol li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.game-room aside .players ol li p {
  margin-left: 10px;
}
.game-room aside .code {
  outline: 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.game-room aside .code button {
  margin: 10px 0;
  width: 70%;
  display: flex;
  align-items: center;
}

.do-i-knou-you {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */